<body>
<h1>Click me to Start a post</h1>
<button class="btn btn-primary">Post</button>
<div id="post"></div>

<script>
document.getElementById('post').innerHTML = `
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">User Name</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="User Name">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example Textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button> Submit </button>
`
</script>
</body>