<body>
  <h1>Start Typing to begin a Post</h1>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="email" class="form-control" id="title" placeholder="Descritption...">
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Body</label>
    <textarea class="form-control" id="body" rows="3" placeholder="Additional Details..."></textarea>
  </div>

  <button class="btn btn-primary" id="submit" type="submit">Submit</button>
  <br>


  <div id="title"></div>
  <div id="body"></div>

  <div id="myPost"></div>
  <div id="comments"></div>

  <div id="posts" class="row"></div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    function createPost() {
      let newPost = {
        title: document.getElementById('title').value,
        body: document.getElementById('body').value
      }
      axios.post('/api/posts', newPost, {
        headers: {
          'Authorization': `Bearer ${localStorage.getItem('token')}`
        }
      })
        .then(res => {
          console.log(res)
        })
    }

    document.getElementById("submit").addEventListener('click', event => {
      event.preventDefault()
      createPost()
    })

    document.addEventListener('click', event => {
      event.preventDefault()
      if (event.target.className.split(" ").includes("submitComment")) {
        let postId = event.target.dataset.postid
        let commentBody = document.getElementById(`comment-${postId}`).value
        let newComment = {
          body: commentBody,
          pid: postId
        }
        axios.post('/api/comments', newComment, {
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          }

        })
      }
    })

    axios.get('/api/posts', {
      headers: {
        'Authorization': `Bearer ${localStorage.getItem('token')}`
      }
    })
      .then(res => {

        console.log(res.data)
        let posts = res.data
        posts.forEach(posts => {
          let postElem = document.createElement('div')
          let commentElem = document.createElement('div')
          posts.comments.forEach(comments => {
            let commentDiv = document.createElement('div')
            commentDiv.innerHTML = `
            <p> ${comments.body} </p>
            `
            commentElem.append(commentDiv)
        


          })
          postElem.innerHTML = `
          <div class = contianer>
            <div style = "text-align: center;">
          <h3 class="goToPost" data-postid="${posts.id}"> ${posts.title} </h3>
          <p>${posts.body}</p>
            <h5> posted by <i>${posts.User.username}</i> </h5>
           <p> ${posts.data.data.join(",")}  <p>
             <label for="comment" class="form-label">Add a Comment</label>
          <textarea class="form-control" id="comment-${posts.id}" rows="3" placeholder="Additional Details..."></textarea>
          <button class="btn btn-primary submitComment" data-postid="${posts.id}" type="submit">Submit</button>
            <hr>
            </div>
            </div>
            `
          postElem.append(commentElem)
          document.getElementById('posts').prepend(postElem)
        })

      })



  </script>

</body>

</main>