<body class = "difficultyBackground">

<h1>Select a Difficulty to Begin Playing</h1>

<div class="d-grid gap-2 col-6 mx-auto buttonSpacer">
  {{!-- Easy Mode --}}
  <button class="btn btn-primary p-4 btn-lg" style ="background-color:#99d98c" type="button">Easy</button>

  <br>

  {{!-- Medium Mode --}}
  <button class="btn btn-primary p-4 btn-lg" style ="background-color:#fcbf49" type="button">Medium</button>
</div>

<br>

{{!-- Hard Mode  --}}
<div class="d-grid gap-2 col-6 mx-auto ">
  <button class="btn btn-primary p-4 btn-lg" style="background-color:#d62828"type="button">Hard</button>

  <br>

{{!-- Expert Mode  --}}
  <button class="btn btn-primary p-4 btn-lg" style="background-color:#800016"type="button">Expert</button>
</div>

















</body>