<main class = "difficultyBackground">

<h1 class= "difficultyText">Select a Difficulty to Begin Playing</h1>

<div class="d-grid gap-2 col-6 mx-auto buttonSpacer">
  {{!-- Easy Mode --}}
  <button class="btn btn-primary p-4 btn-lg difficulty-button" style ="background-color:#99d98c" type="button" id="easy">Easy</button>

  <br>

  {{!-- Medium Mode --}}
  <button class="btn btn-primary p-4 btn-lg difficulty-button" style ="background-color:#fcbf49" type="button" id="medium">Medium</button>
</div>

<br>

{{!-- Hard Mode  --}}
<div class="d-grid gap-2 col-6 mx-auto ">
  <button class="btn btn-primary p-4 btn-lg difficulty-button" style="background-color:#d62828"type="button" id="hard">Hard</button>

  <br>

{{!-- Expert Mode  --}}
  <button class="btn btn-primary p-4 btn-lg difficulty-button" style="background-color:#800016"type="button" id="expert">Expert</button>
</div>


<script>

  document.addEventListener('click', event => {

    if(event.target.className.split(' ').includes('difficulty-button')) {
      location = `/sudoku/new/${event.target.id}`
    }

  })

</script>














</main>
