<style>
    table#sudoku_grid tr,
    table#sudoku_grid td {

        border: 1px solid #000;
        width: 64px;
        height: 64px;
        text-align: center;
        font-size: 18pt;
        font-weight: bold;
    }

    .selected {
        background-color: #6FFFE9;
    }

    .wrong {
        background-color: red;
    }

    .given {
        background-color: lightgray;
    }

    button {
        width: 2em;
    }
</style>

<body class="gameBackground">

    <h1 class="gameTitle">Good Luck!</h1>

    <div class="gameBoard">
    <div id="game" class="container gameBoard">
        <table id="sudoku_grid"></table>
        <button class="num">&nbsp;</button>
        <button class="num">0</button>
        <button class="num">1</button>
        <button class="num">2</button>
        <button class="num">3</button>
        <button class="num">4</button>
        <button class="num">5</button>
        <button class="num">6</button>
        <button class="num">7</button>
        <button class="num">8</button>
        <button class="num">9</button>
        <button id="check_answers">Check answers (CHEATER!)</button>
        </div>
    </div>


</body>
















<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let selected = null;
    let currentPuzzle = null;

    let isGiven = () => {
        if (selected) {
            return selected.className.split(' ').includes('given')
        }
        return false;
    }

    document.addEventListener('click', event => {
        let classList = event.target.className.split(' ');
        if(classList.includes("cell") && !classList.includes("given")) {
            if(selected) selected.className = "cell";

            event.target.className = "cell selected";
            selected = event.target;
        } else if (event.target.className === "num" && selected) {
            if (!isGiven()) {
                selected.innerHTML = event.target.innerHTML;
            }
        }
    })

    document.getElementById('check_answers').addEventListener('click', event => {
        for (let i = 0; i < 72; i++) {
            let cell = document.getElementById(i);
            if (cell.innerHTML !== '' && cell.innerHTML !== '&nbsp;') {
                if (cell.innerHTML != currentPuzzle.solution[i]) {
                    cell.className += ' wrong';
                }
            }
        }
    })

    axios.get("/api/sudoku/new/easy").then(res => {
        currentPuzzle = res.data;

        let sudoku_grid = document.getElementById('sudoku_grid');

        for (let y = 0; y < 9; y++) {
            let row = document.createElement('tr');

            if (y == 2 || y == 5) {
                row.style.borderBottom = "3px solid #000";
            }

            for (let x = 0; x < 9; x++) {
                let column = document.createElement('td');
                let index = x + (y * 9);
                column.id = index;
                column.className = "cell"
                if(currentPuzzle.given[index]) {
                    column.className = " given";
                }
                if(!currentPuzzle.blank[index]) {
                    column.innerHTML = currentPuzzle.board[index];
                }

                if (x == 2 || x == 5) {
                    column.style.borderRight = "3px solid #000";
                }
                row.append(column);
            }
            sudoku_grid.append(row);
        }
    })

</script>