<body class="leaderboard-background">
  <div id="content"></div>
  <script>

//logic for figuring out which username has highest totalGames, lowest averageTime, lowest fastestTime



//function for getting info
  async function renderLeaderboard() {
//logic in the callback function
    }
    document.getElementById('content').innerHTML = 
    <h1>Leaderboard</h1>
    <br><hr><br>
    <h3>Easy</h3>  
    <h5>Most Completed Games</h5>
    <h5>${username} ~ ${totalGames}</h5>
    <br>
    <h5>Best Average Time</h5>
    <h5>${username} ~ ${averageTime}</h5>
    <br>
    <h5>Fastest Time</h5>
    <h5>${username} ~ ${fastestTime}</h5>
    <br><br>
    <h3>Medium</h3>
    <h5>Most Completed Games</h5>
    <h5>${username} ~ ${totalGames}</h5>
    <br>
    <h5>Best Average Time</h5>
    <h5>${username} ~ ${averageTime}</h5>
    <br>
    <h5>Fastest Time</h5>
    <h5>${username} ~ ${fastestTime}</h5>
    <br><br>
    <h3>Hard</h3>
    <h5>Most Completed Games</h5>
    <h5>${username} ~ ${totalGames}</h5>
    <br>
    <h5>Best Average Time</h5>
    <h5>${username} ~ ${averageTime}</h5>
    <br>
    <h5>Fastest Time</h5>
    <h5>${username} ~ ${fastestTime}</h5>
    <br><br>
    <h3>Expert</h3>
    <h5>Most Completed Games</h5>
    <h5>${username} ~ ${totalGames}</h5>
    <br>
    <h5>Best Average Time</h5>
    <h5>${username} ~ ${averageTime}</h5>
    <br>
    <h5>Fastest Time</h5>
    <h5>${username} ~ ${fastestTime}</h5>
    <br><br>
    
  </script>
