<div class="card text-center">
  <div class="card-header">
    Welcome USERNAME HERE!
  </div>
  <div class="card-body">
    <h5 class="card-title"> </h5>
    <p class="card-text">Check out your Stats, Records, and Start a New Game or continue your Previous Game! </p>
    <br>
    <a href="#" class="btn btn-primary">New Game!</a>
    {{!-- <a href="#" class="btn btn-primary">Resume Previous Game!</a> --}}

</div>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col">
     <h2> Avreage Time: </h2>
     <h4> </h4>
    </div>



    <div class="col">
     <h2> Number of Games Played:</h2>
    </div>



    <div class="col">
    <h2> Previous Games: </h2>
    </div>
  </div>

</div>