body {
    font-family: 'Coming Soon', cursive !important;
}


nav {
    background-color: #09BC8A;
}

footer {
    background-color: #09BC8A;
}

a {
    color: #212529 !important;
}

#jumbo {
   background-color: #508991 !important;
}